# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron builds
dist-electron/
release/
out/
*.exe
*.AppImage
*.dmg
*.zip
*.blockmap

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# IDE
.vscode/
.idea/